@model CostEstimate.Models.Common.Class;
@{
    ViewData["Title"] = "MyRequest | ThaiStanley";
    Layout = "~/Views/Shared/_MenuBar_mold.cshtml";
}
@{
    string _UserId = User.Claims.FirstOrDefault(s => s.Type == "UserId")?.Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;

}
<link href="~/css/MyRequest/siteMyRequest.css" rel="stylesheet" />
<link href="~/css/New/mNew.css" rel="stylesheet" />

<link href="~/css/Home/siteHome.css" rel="stylesheet" />
@*after document ready*@
<script type="text/javascript">document.onreadystatechange = () => { if (document.readyState === "interactive") { PositionY("MyRequestMold"); } }</script>

<div class="home-content">
    <div id="DisplayContent" class="content-box">
        @using (Html.BeginForm("Index", "MyRequestMold", FormMethod.Post, new { enctype = "multipart/form-data", id = "formMyReqMold" }))
        {
            @*<div id="DisplayContent" class="content-box"> </div>*@
            <div class="content-text" style=" margin: auto; padding: 10px; width: 95%;">
                <h5 class="control-title">คำร้องของฉัน <img src="~/images/request.png" height="35px" width="35px" style="vertical-align:middle" /></h5>

                <div style="width:100%;">
                    <div class="row center" style="left:0px">
                        <div class="col-10">

                        </div>
                        <div class="col-20" style="text-align:right">
                            <div class="grid-item fw-800" style="text-align:right;padding-top:5px">
                                STATUS
                            </div>
                        </div>
                        <div class="col-40" style="text-align:right">
                            @Html.DropDownListFor(m => m._ViewSearchData.v_status, (SelectList)ViewBag.vbformStatus, "กรุณาเลือก", new { @class = "form-control", id = "ipStatus", autocomplete = "off", @style = "width:100%;font-size:12px" })

                            @*<input type="text" class="form-control left" style="width:100%;height:100%;font-size:12px" autocomplete="off" asp-for="_ViewSearchData.v_DevelopmentStage">*@
                        </div>
                        <div class="col-20" style="text-align:left;">
                            <button class="button" style="width:auto;height:auto;margin-top:1px" value="SEARCH">
                                <img src="~/images/search.png" style="width:25px;" />
                            </button>
                        </div>
                        <div class="col-10">

                        </div>
                    </div>

                    @if (Model._ListViewceMastModifyRequest != null)
                    {

                        <div class="grid-item fw-800" style="text-align:left;padding-left:10px"><label style="font-size:14px"><span style="color:royalblue"> จำนวน @Model._ListViewceMastModifyRequest.Count() แถว</span>  </label></div>

                    }
                    else
                    {
                        <div class="grid-item fw-800" style="text-align:left;padding-left:10px"><label style="font-size:14px"><span style="color:royalblue"> จำนวน 0 แถว</span> </label></div>

                    }
                    @if (Model._ListViewceMastModifyRequest != null)
                    {
                        var row = 0;
                        @foreach (var item in Model._ListViewceMastModifyRequest)
                        {
                            <div class="row center centerdiv">
                                <div class="row ">
                                    <div class="col-30" style="text-align:right">
                                        @*@(row += 1)*@
                                        <div class="grid-item fw-800 center" style="text-align:left;"><label style="font-size:12px">DocumentNo No.<span style="color:royalblue"> @item.mfCENo</span> </label></div>
                                    </div>
                                    <div class="col-10" style=" display: flex;align-items: left;">
                                    </div>
                                    <div class="col-20" style=" display: flex;align-items: left;">
                                        @if (@item.mfStep == 0 && @item.mfStatus.Contains("Disapprove"))
                                        {
                                            <img src="~/images/stepDis.png" alt="icon" style="height: 25px; width: 25px;" />
                                        }
                                        else if (@item.mfStep == 0) /*//new*/
                                        {
                                            <img src="~/images/draft2.png" alt="icon" style="height: 30px; width: 30px;" />
                                            @*<img src="~/images/1.png" alt="icon" style="height: 23px; width: 23px;" />*@
                                        }
                                        else if (@item.mfStep == 1)
                                        { <img src="~/images/2.png" alt="icon" style="height: 23px; width: 23px;" /> }
                                        else if (@item.mfStep == 2)
                                        { <img src="~/images/3.png" alt="icon" style="height: 23px; width: 23px;" />}
                                        else if (@item.mfStep == 3)/*//issue*/
                                        { <img src="~/images/4.png" alt="icon" style="height: 23px; width: 23px;" />}
                                        else if (@item.mfStep == 4)
                                        { <img src="~/images/5.png" alt="icon" style="height: 23px; width: 23px;" />}
                                        else if (@item.mfStep == 5)
                                        { <img src="~/images/6.png" alt="icon" style="height: 23px; width: 23px;" />}
                                        @*else if (@item.mfStep == 6)
                                            { <img src="~/images/7.png" alt="icon" style="height: 23px; width: 23px;" />}*@
                                        else if (@item.mfStep == 6)
                                        { <img src="~/images/f1.png" alt="icon" style="height: 25px; width: 25px;" />}


                                        @*@if (@item.smStep == 0 && @item.smStatus.Contains("Disapprove"))
                                            {
                                                {<img src="~/images/stepDis.png" alt="icon" style="height: 23px; width: 23px;" /> }
                                            }
                                            else if (@item.smStep == 0)
                                            {<img src="~/images/step0.png" alt="icon" style="height: 23px; width: 23px;" /> }
                                            else if (@item.smStep == 1)
                                            { <img src="~/images/step2.png" alt="icon" style="height: 23px; width: 23px;" /> }
                                            else if (@item.smStep == 2)
                                            { <img src="~/images/step3.png" alt="icon" style="height: 23px; width: 23px;" />}
                                            else if (@item.smStep == 3)
                                            { <img src="~/images/notes.png" alt="icon" style="height: 23px; width: 23px;" />}
                                            else if (@item.smStep == 4)
                                            { <img src="~/images/step5.png" alt="icon" style="height: 23px; width: 23px;" />}
                                            else if (@item.smStep == 5)
                                            { <img src="~/images/step6.png" alt="icon" style="height: 23px; width: 23px;" />}
                                            else if (@item.smStep == 6)
                                            { <img src="~/images/step7.png" alt="icon" style="height: 23px; width: 23px;" />}
                                            else if (@item.smStep == 7)
                                            { <img src="~/images/stepfinish1.png" alt="icon" style="height: 23px; width: 23px;" />}*@
                                    </div>
                                    <div class="col-30" style=" display: flex;align-items: right;">

                                    </div>
                                    <div class="col-5">
                                        <input type="button" style="font-size:18px" value="&#x1F50E;" onclick="GoNewMoldRequest('@item.mfCENo')">

                                    </div>
                                    <div class="col-5">
                                        <input type="button" style="font-size:18px;margin-left:5px" value="&#x1F5D1" disabled>
                                        @*<input type="button" style="font-size:18px" value="&#x1F5D1" onclick="DeleteData('@item.srNo','@Url.Action("DeteleData","RequestForm")')" disabled>*@
                                        @*<input type="button" style="font-size:18px" value="&#x1F50E;">*@
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-20" style="text-align:right">
                                        @*@(row += 1)*@
                                        <div class="grid-item fw-800 center" style="text-align:left;"><label style="font-size:12px">Ref No.<span style="color:royalblue"> @item.mfRefNo</span> </label></div>
                                    </div>
                                    <div class="col-20" style=" display: flex;align-items: left;">
                                        <div class="grid-item fw-800 " style="text-align:left;"><label style="font-size:12px">Lot No.<span style="color:royalblue"> @item.mfLotNo</span> </label></div>
                                    </div>
                                    <div class="col-20" style=" display: flex;align-items: left;">
                                        <div class="grid-item fw-800 " style="text-align:left;"><label style="font-size:12px">Revision.<span style="color:royalblue"> @item.mfRevision</span> </label></div>
                                    </div>
                                    <div class="col-30" style=" display: flex;align-items: right;">

                                    </div>
                                    <div class="col-5" style=" display: flex;">
                                        @*<input type="button" style="font-size:18px" value="&#x1F50E;" onclick="GoNewRequest('@item.srRequestBy','Edit','@Url.Action("Index", "RequestForm")','@item.srFrom','@item.srType','@item.srSubject','@item.srNo')">*@

                                    </div>
                                    <div class="col-5" style=" display: flex;">

                                        @*<input type="button" style="font-size:18px" value="&#x1F5D1" onclick="DeleteData('@item.srNo','@Url.Action("DeteleData","RequestForm")')" disabled>*@
                                        @*<input type="button" style="font-size:18px" value="&#x1F50E;">*@
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-20" style="text-align:right">
                                        <div class="grid-item fw-800 center" style="text-align:left;"><label style="font-size:12px">Requester: <span style="color:royalblue"> @item.mfEmpCodeRequest @item.mfNameRequest</span> </label></div>
                                    </div>
                                    <div class="col-20" style=" display: flex;align-items:left;">
                                        <div class="grid-item fw-800 " style="text-align:left;"><label style="font-size:12px">Requester Date: <span style="color:royalblue"> @item.mfIssueDate</span> </label></div>
                                    </div>
                                    <div class="col-30" style="text-align:left">
                                        <div class="grid-item fw-800 " style="text-align:left;"><label style="font-size:12px">Waitting Approve: <span style="color:royalblue"> @item.mfEmpCodeApprove @item.mfNameApprove</span> </label></div>
                                    </div>
                                    <div class="col-20" style="text-align:right">

                                    </div>
                                </div>
                            </div>


                        }
                    }


                </div>


            </div>



        }


    </div>
</div>
