@model CostEstimate.Models.Common.Class;
@{
    ViewData["Title"] = "Add Mold Other Working Process | ThaiStanley";
    Layout = "~/Views/Shared/_MenuBar_MoldOther.cshtml";
}
@{
    string _UserId = User.Claims.FirstOrDefault(s => s.Type == "UserId")?.Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;

}
<link href="~/css/Home/siteHome.css" rel="stylesheet" />
<script type="text/javascript">document.onreadystatechange = () => { if (document.readyState === "interactive") { PositionY("AddOProcessWK"); } }</script>
<div class="home-content">
    <div id="DisplayContent" class="content-box">
        <br />
        <div style="" class="content-text">
            <br />
            <div class="row center" style="padding:5px; background-color:#6fa54f; margin-bottom:5px; border-radius:5px;">
                <div class="col-60" style="text-align:left">
                    <span style="font-size:24px; font-weight:600; color:orange; line-height:1.4;">
                        <span style="color:#b3e07d">MOLD OTHER</span> PROCESS WORKING.
                    </span>
                    <span style="font-size:22px; font-weight:600; color:white; line-height:1.4; margin-top:10px; display:block;">

                    </span>
                </div>
                <div class="col-40 center" style="text-align:right;">
                    <button class="button " style="width:auto" onclick="Menubar_EditMasterOProcessWK('','@Url.Action("SearchMastProcess","AddOProcessWK")')">
                        <img src="~/images/addcost.png" style="width:30px;height:24px;padding-right:5px;margin-right:8px;margin-top: 2px;margin-bottom: 2px;" />
                        ADD
                    </button>
                </div>
            </div>



            <form action="" id="formRequestMasterOProcess" name="formDataMasterOProcess">
                <div style="width:100%;">
                    <div style="margin-inline: auto;border: 0px solid white; background-color: aliceblue;padding:10px;border-radius:2px;">
                        @*summary*@
                        <div class="grid-item fw-800" style="text-align:left;padding-left:10px">
                            <label style="font-size:14px">
                                จำนวน
                                <span style="color:royalblue">
                                    @Model._ListceMastProcess.Count
                                </span>
                                แถว

                            </label>
                        </div>
                        <div class="row center">
                            <div class="row center" style="">
                                <div class="col-5 " style="margin-bottom:0px">
                                </div>
                                <div class="col-90" style=" display: flex;align-items: center;">
                                    <div class="table-container400">
                                        <table class="tbgreen">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center" width="5%">NO</th>
                                                    <th style="text-align:center">PROCESS GROUP</th>
                                                    <th style="text-align:center">PROCESS NAME</th>
                                                    <th style="text-align:center" width="15%">แก้ไข</th>
                                                    <th style="text-align:center" width="15%">ลบ</th>
                                                </tr>
                                            </thead>

                                            @if (Model._ListceMastProcess != null)
                                            {
                                                var row = 0;
                                                @foreach (var item in @Model._ListceMastProcess)
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align:right">@(row += 1)</td>
                                                            <td>
                                                                @item.mpGroupName
                                                            </td>
                                                            <td>
                                                                @item.mpProcessName
                                                            </td>
                                                            <td>
                                                                @*&#128221; &#128203;*@
                                                                <input type="button" style="font-size:15px" value="&#128221;" onclick="Menubar_EditMasterOProcessWK('@item.mpNo','@Url.Action("SearchMastProcess","AddOProcessWK")')">
                                                            </td>
                                                            <td>
                                                                <input type="button" style="font-size:15px" value="&#x274c;" onclick="Menubar_DeleteMasterOProcessWK('@item.mpNo','@Url.Action("DeleteMasterProcess","AddOProcessWK")')">
                                                            </td>
                                                        </tr>
                                                    </tbody>


                                                }

                                            }




                                        </table>
                                    </div>



                                </div>

                                <div class="col-5 " style="">
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </form>

            <!-- Modal Add Master Cost planning -->
            <div class="modal modal-md fade" id="myModalOProcessWK" style="background-color:#4f4b4b4d;" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-body" id="myModalBodyDivOProcessWK">
                            <div class="modal-header" style="margin-top:1px">
                                <h5 class="modal-title">
                                    <span style="font-weight: bold; font-size: 16px;"><img src="~/images/process.png" height="35px" width="35px" style="vertical-align:middle" /> MASTER  PROCESS</span>
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <br />
                                <div id="loadingIndicatorOProcessWK" style="display: block; position: absolute; left: 50%; transform: translate(-50%, -50%); z-index: 9999;margin:0px">
                                    @*<div class="loader"></div>*@
                                    <img src="~/images/wait1.gif" alt="Loading..." width="100px"><span style="font-weight:600">Loading...</span>
                                </div>
                                <div id="ResultMastOProcessWK" style="display: none;">
                                    @*@await Html.PartialAsync("_PartialMastProcessWK", Model)*@
                                </div>

                            </div>
                            <!-- Modal Footer -->
                            @*<div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
