@using System.Security.Claims;
@model CostEstimate.Models.Common.Class;
@using CostEstimate.Models.Common;
@*@model IEnumerable<IGrouping<string, CostEstimate.Models.Table.MK.ViewceMastProcess>>*@
@{
    string _Permission = User.Claims.FirstOrDefault(s => s.Type == "Permission").Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;
    string _admin = GlobalVariable.perAdmin.ToUpper();

}
<div class="" style="border:0px solid gray;margin-top:10px;padding:2px;">
    <div class="grid-item fw-800 center  row" style="text-align:left;font-size:14px;margin-bottom:10px;">
        <div class="col-80">
            Material Detail.
            <span style="color:#1565C0">ทั้งหมด  @Model._ListGroupViewceItemMaterialRequestPartName.Count() Part</span>

        </div>
        <div class="col-20" style="text-align:right">

            <button type="submit"
                    formaction='@Url.Action("btnExportExcel", "NewMoldOtherMT")?id=@Model._ViewceMastMoldOtherRequest.mrDocmentNo'
                    formmethod="post"
                    class="button"
                    style="margin-right:5px;font-size:8px;width:130px">
                <img src="~/images/excel.png"
                     style="width:35px;height:26px;padding-right:5px;margin-right:8px;margin-top:2px;margin-bottom:2px;" />
                FROMAT EXPORT
            </button>
        </div>
    </div>
    <div class="table-groupMatPartName table-containerHM " style="margin:auto">
        @for (int j = 0; j < Model._ListGroupViewceItemMaterialRequestPartName.Count(); j++)
        {
            <table class="tbgreen MatPartName" style="max-width:600px;margin-right:10px;min-width:300px;" data-index="@j">
                <tr>
                    <th colspan="2">
                        <span>PartName</span>
                    </th>
                    <td colspan="2" style="width:50%">
                        <span style="font-size:12px">
                            <span>@Model._ListGroupViewceItemMaterialRequestPartName[j].mpPartName</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <span>CavityNo</span>
                    </th>
                    <td colspan="2">
                        <span style="font-size:12px">
                            <span>@Model._ListGroupViewceItemMaterialRequestPartName[j].mpCavityNo</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <span>TypeCavity</span>
                    </th>
                    <td colspan="2">
                        <span style="font-size:9px">
                            <span>@Model._ListGroupViewceItemMaterialRequestPartName[j].mpTypeCavity</span>
                        </span>
                    </td>
                </tr>
                @*<tr>
                    <th colspan="2">
                        <span>Issue Date</span>
                    </th>
                    <td colspan="2">
                        <span style="font-size:12px">
                            <span>@Model._ListGroupViewceItemMaterialRequestPartName[j].mpTypeCavity</span>
                        </span>

                    </td>
                </tr>*@
                <tr>
                    <th colspan="2">
                        <span>Type MOLD</span>
                    </th>
                    <td colspan="2">
                        <span style="font-size:12px">
                            <span>@Model._ListGroupViewceItemMaterialRequestPartName[j].mpTypeMold</span>
                        </span>

                    </td>
                </tr>
                <tr>
                    <th style="width:20%; ">NO.</th>
                    <th>ITEM.</th>
                    <th>PCS.</th>
                    <th>AMOUNT(KB).</th>
                </tr>

                @for (int g = 0; g < Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName.Count(); g++)
                {
                    <tr id="trbodyMatPartName" style=" @(Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mmTypeGroup != null ?"border:1.5px solid #191970;":"")">
                        <td style="text-align:left; @(Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mmTypeGroup != null ?"background :#FFDEAD;":"")">
                            <input class="form-control center input-mpDocumentNoSub" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpDocumentNoSub" type="text" />
                            <input class="form-control center input-mpRunNo" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpRunNo" type="number" />
                            <input class="form-control center input-mpPartName" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpPartName" type="text" />
                            <input class="form-control center input-mpCavityNo" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpCavityNo" type="text" />
                            <input class="form-control center input-mpTypeCavity" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpTypeCavity" type="text" />
                            <input class="form-control center input-mpNoProcess" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpNoProcess" type="text" />
                            <input class="form-control center input-mpIssueDate" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpIssueDate" type="text" />
                            <span>@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpNo</span>
                            <input class="form-control center input-mpNo" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpNo" type="text" />
                        </td>
                        <td style="text-align:left;@(Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mmTypeGroup != null ?"background :#FFDEAD;":"")">
                            <span style=" @(Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mmTypeGroup != null ?"font-weight:600;font-size: 11px;":"")">@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpItem</span>
                            <input class="form-control center input-mpItem" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpItem" type="text" />
                        </td>
                        <td style="@(Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mmTypeGroup != null ?"background :#FFDEAD;":"")">
                            @{
                                var currentItem = Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g];

                                // เช็กเงื่อนไขตามที่คุณส่งมาล่าสุด
                                bool isReadOnly = (currentItem.mpItem.Contains("CU") && currentItem.mpItem.Contains("GR")) ||
                                                  currentItem.mpItem.Contains("TOOL")
                                                  ||
                                                  currentItem.mmTypeGroup != null
                                                  || currentItem.mpTypeMold.Contains("Maker")  //SUB Maker
                                                  ;

                                string bgColor = isReadOnly ? "lightgray" : "yellow";
                            }
                            <input class="form-control center input-mpPCS"
                                   autocomplete="off"
                                   type="number"
                                   style="width:100%; height:80%; font-size:10px; background-color:@bgColor"
                                   value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpPCS"
                                   @(isReadOnly ? "readonly" : "") />
                            @*@if (@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpItem.Contains("CU, GR") || @Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpItem.Contains("TOOL") || @Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mmTypeGroup  is not null)
                                {
                                    <input class="form-control center input-mpPCS" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgray" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpPCS" type="number" readonly />
                                }
                                else
                                {
                                    <input class="form-control center input-mpPCS" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:yellow" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpPCS" type="number" />

                                }*@

                        </td>
                        <td style="@(Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mmTypeGroup != null ?"background :#FFDEAD;":"")">

                            @{
                                // เปลี่ยนชื่อตัวแปรให้สื่อถึง "ข้อมูลรายการวัสดุที่ขอ" (Material Request Item)
                                var materialRequest = Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g];

                                //(!materialRequest.mmTypeGroup.Contains("THS")
                                //&& materialRequest.mpTypeMold.Contains("IN THS")


                                // เปลี่ยนชื่อตัวแปรให้ชัดเจนว่าเป็นการล็อกไม่ให้แก้ไข
                                bool isLocked = ((materialRequest.mpItem?.Contains("CU") ?? false) && (materialRequest.mpItem?.Contains("GR") ?? false)) ||
                                                (materialRequest.mpItem?.Contains("TOOL") ?? false)
                                                ||
                                               (materialRequest.mpTypeMold.Contains("SUB Maker") && materialRequest.mmTypeGroup == null) ||
                                               (materialRequest.mpTypeMold.Contains("SUB Maker") && materialRequest.mmTypeGroup.Contains("IN THS")) ||

                                               ((materialRequest.mpTypeMold?.Contains("IN THS") ?? false) && (materialRequest.mmTypeGroup?.Contains("SUB Maker") ?? false))

                                               // ||
                                               // materialRequest.mmTypeGroup == null ||
                                               //( materialRequest.mpTypeMold != "SUB Maker" &&  materialRequest.mmTypeGroup != "IN THS")||
                                               //(materialRequest.mpTypeMold != "IN THS" && materialRequest.mmTypeGroup != "SUB Maker")
                                               ;

                                // กำหนดสีตามสถานะการล็อก
                                string inputBgColor = isLocked ? "lightgray" : "yellow";
                            }
                            <input class="form-control center input-mpAmount"
                                   autocomplete="off"
                                   type="number"
                                   style="width:100%; height:80%; font-size:10px; background-color:@inputBgColor"
                                   value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpAmount" 
                                   @(isLocked ? "readonly" : "") />

                            @*@if (@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpItem.Contains("CU, GR") || @Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpItem.Contains("TOOL"))
                                {
                                    <input class="form-control center input-mpAmount" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgray" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpAmount" type="number" readonly />

                                }
                                else
                                {
                                    <input class="form-control center input-mpAmount" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:yellow" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpAmount" type="number" />

                                }*@

                            @*<span>@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[g].mpAmount</span>*@
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        TOTAL(KB)
                    </td>
                    <td>
                        <input class="form-control center input-mpTotal" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgray" value="@Model._ListGroupViewceItemMaterialRequestPartName[j].ItemMaterialRequestPartName[0].mpTotal" type="number" readonly />
                    </td>
                </tr>
            </table>

        }
    </div>

</div>
<script>
    function calcRowMTTotals() {
        console.log("calcRowMTTotals");

        // ฟังก์ชันสำหรับคำนวณรวมในแต่ละ table
        function calculateTable($table) {
            var sum = 0;
            $table.find(".input-mpAmount").each(function () {
                var val = parseFloat($(this).val()) || 0;
                sum += val;
            });
            $table.find(".input-mpTotal").val(sum.toFixed(2));
        }

        // ผูก event เวลามีการกรอกค่า
        $(document).on("input", ".input-mpAmount", function () {
            var $table = $(this).closest("table");
            calculateTable($table);
        });

        // 🔹 คำนวณทันทีตอนโหลด (วนทุก table)
        $("table").each(function () {
            calculateTable($(this));
        });
    }

    document.addEventListener("DOMContentLoaded", calcRowMTTotals);
</script>
