@using System.Security.Claims;
@model CostEstimate.Models.Common.Class;
@using CostEstimate.Models.Common;
@*@model IEnumerable<IGrouping<string, CostEstimate.Models.Table.MK.ViewceMastProcess>>*@
@{
    string _Permission = User.Claims.FirstOrDefault(s => s.Type == "Permission").Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;
    string _admin = GlobalVariable.perAdmin.ToUpper();

}


<div class="" style="border:0px solid gray;margin-top:10px;padding:2px;">
    <div class="grid-item fw-800 center " style="text-align:left;font-size:14px;margin-bottom:10px;">
        <div class="row">
            <div class="col-60">
                Process Detail. <span style="color:orange">ทั้งหมด  @Model._ListGroupPartName.Count() Part</span>
            </div>
            <div class="col-20" style="text-align:right">
                @*<button type="submit"
                        formaction="@Url.Action("btnExportExcel", "SearchMoldOther")"
                        formmethod="post"
                        style="margin-right:5px;font-size:10px;width:100px"
                        class="button">
                    <img src="~/images/excel.png"
                         style="width:35px;height:26px;padding-right:5px;margin-right:8px;margin-top: 2px;margin-bottom: 2px;" />
                    Export
                </button>*@
            </div>
            <div class="col-20" style="text-align:right">
                @*<button type="submit"
                        formaction="@Url.Action("btnExportExcel", "SearchMoldOther")"
                        formmethod="post"
                        style="margin-right:5px;font-size:10px;width:100px"
                        class="button btnBlue">
                    <img src="~/images/excel.png"
                         style="width:35px;height:26px;padding-right:5px;margin-right:8px;margin-top: 2px;margin-bottom: 2px;" />
                    Import
                </button>*@
            </div>
        </div>

    </div>

    @for (int k = 0; k < Model._ListGroupPartName.Count(); k++)
    {
        <div class="table-groupPartName table-containerHM " style="margin:auto" data-index="@k">
            <table class="tbgreen ItemName" style="width:100%;margin-right:10px" data-index="@k">
                <tr>
                    <th style="width:200px" rowspan="2">
                        <span style="display:inline-block; width:150px;font-size:14px">
                            <span>@Model._ListGroupPartName[k].wpPartName</span>
                        </span>
                    </th>
                    @for (int h = 0; h < @Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName.Count(); h++)
                    {
                        <th colspan="2" rowspan="@(Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpEnable_WTAuto == false ? 2 : 1)">
                            <span style="display:inline-block; width:100px;">@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpProcessName</span>
                        </th>

                    }
                    <th rowspan="2">
                        <span style="display:inline-block; width:100px;">TOTAL</span>
                    </th>
                </tr>
                <tr>
                    @for (int h = 0; h < @Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName.Count(); h++)
                    {
                        if (Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpEnable_WTAuto == true)
                        {
                            <td><span style="display:inline-block; width:80px;">MAN</span></td>
                            <td><span style="display:inline-block; width:80px;">AUTO</span></td>
                        }

                    }
                </tr>
                <tr id="trbodyItemName">
                    <td style="text-align:left;padding:7px;">
                        <span style="display:inline-block; width:150px;">
                            Cavity No.: @Model._ListGroupPartName[k].wpCavityNo
                        </span>
                        <br />
                        <span style="display:inline-block; width:180px;">
                            Type of Cavity: @Model._ListGroupPartName[k].wpTypeCavity
                        </span>
                    </td>
                    @for (int h = 0; h < @Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName.Count(); h++)
                    {


                        <td colspan="2">
                            <input class="form-control center input-DocumentNo" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpDocumentNoSub" type="text" />
                            <input class="form-control center input-PartName" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpPartName" type="text" />
                            <input class="form-control center input-CavityNo" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpCavityNo" type="number" />
                            <input class="form-control center input-TypeCavity" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpTypeCavity" type="text" />
                            <input class="form-control center input-NoProcess" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpNoProcess" type="text" />
                            <input class="form-control center input-GroupName" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpGroupName" type="text" />
                            <input class="form-control center input-ProcessName" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpProcessName" type="text" />
                            <input class="form-control center input-Enableman" autocomplete="off" style="display:none;width:100%;height:80%;font-size:10px;" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpEnable_WTMan.ToString()" type="text" />
                            <input class="form-control center input-man" autocomplete="off" style="display:inline-block;width:80px;height:80%;font-size:10px;@(Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpEnable_WTMan == false ? "background-color:darkgrey;display:none" : "background-color:yellow")" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpWT_Man" type="number" readonly="@(Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpEnable_WTMan == false ? "readonly" : null)" min="0" />
                            <input class="form-control center input-EnableAuto" autocomplete="off" style="display:none;width:100%;height:80%;font-size:10px;" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpEnable_WTAuto.ToString()" type="text" />
                            <input class="form-control center input-auto" autocomplete="off" style="display:inline-block;width:80px;height:80%;font-size:10px; @(Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpEnable_WTAuto == false ? "background-color:darkgrey;display:none" : "background-color:yellow")" value="@Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpWT_Auto" type="number" readonly="@(Model._ListGroupPartName[k]._GroupViewceItemWorkingTimePartName[h].wpEnable_WTAuto == false ? "readonly" : null)" min="0" />
                        </td>

                    }
                    <td>
                        <input type="number" class="form-control input-total txt-right" style="width:100px;height:80%;font-size:10px;background-color:lightgray" autocomplete="off" readonly>
                    </td>

                </tr>
            </table>

            <table class="tbgreen ItemSize" data-index="@k">
                <tr>
                    <th rowspan="2">
                        <span style="display:inline-block; width:80px;">
                            Size Product
                        </span>
                    </th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                    <th>Size</th>
                </tr>
                <tr id="trbodyItemSize">
                    <td>
                        @*<span style="display:inline-block; width:100px;">@Model._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsSizeProductX</span>*@
                        <input type="text" class="form-control left input-DocumentNo" style="display:none;  width :80px;height:80%;font-size:10px;background-color:yellow" autocomplete="off" value="@Model._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsDocumentNoSub">
                        <input type="text" class="form-control left input-PartName" style="display:none; width:80px;height:80%;font-size:10px;background-color:yellow" autocomplete="off" value="@Model._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsPartName">
                        <input type="text" class="form-control left input-CavityNo" style="display:none; width:80px;height:80%;font-size:10px;background-color:yellow" autocomplete="off" value="@Model._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsCavityNo">
                        <input type="text" class="form-control left input-TypeCavity" style="display:none; width:80px;height:80%;font-size:10px;background-color:yellow" autocomplete="off" value="@Model._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsTypeCavity">
                        <input type="text" class="form-control left input-RunNo" style="display:none; width:80px;height:80%;font-size:10px;background-color:yellow" autocomplete="off" value="@Model._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsRunNo">
                        <input type="number" class="form-control left input-x" style="width:80px;height:80%;font-size:10px;background-color:yellow" autocomplete="off" value="@Model._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsSizeProductX">
                    </td>
                    <td>
                        <input type="number" class="form-control left input-y" style="width:80px;height:80%;font-size:10px;background-color:yellow" autocomplete="off" value="@Model._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsSizeProductY">
                    </td>
                    <td>
                        <input type="number" class="form-control left input-z" style="width:80px;height:80%;font-size:10px;background-color:yellow" autocomplete="off" value="@Model._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsSizeProductz">
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m._ListGroupPartName[k]._GroupViewItemWorkingTimeSizeProduct[0].wsSize, (SelectList)ViewBag.TypeofSizeProduct, "กรุณาเลือก", new { @class = "form-control input-size", id = "i_NewMoldOtherWK", autocomplete = "off", @style = "width:100px;font-size:12px;background-color:yellow;height:80%;" })
                    </td>
                </tr>





            </table>
        </div>
    }









</div>

<script>
    function calcRowTotals() {
        // หาทุกแถวในตาราง (ยกเว้น header)
        const rows = document.querySelectorAll(".tbgreen tr");

        rows.forEach(row => {
            const manInputs = row.querySelectorAll(".input-man");
            const autoInputs = row.querySelectorAll(".input-auto");
            const totalInput = row.querySelector(".input-total");
            //const remainInput = row.querySelector(".input-remain");


            if (totalInput) {
                // ฟังก์ชันคำนวณรวมในแถว
                const updateTotal = () => {
                    let sum = 0;
                    [...manInputs, ...autoInputs].forEach(inp => {
                        let val = parseFloat(inp.value) || 0;
                        sum += val;
                    });
                    totalInput.value = sum;
                    // remainInput.value = sum;
                };

                // ผูก event ให้คำนวณใหม่เมื่อกรอกค่า
                [...manInputs, ...autoInputs].forEach(input => {
                    input.addEventListener("input", updateTotal);
                });

                // คำนวณครั้งแรกตอนโหลดหน้า
                updateTotal();
            }
        });
    }

    // เรียกฟังก์ชันตอนโหลดหน้า
    document.addEventListener("DOMContentLoaded", calcRowTotals);
</script>
