@model CostEstimate.Models.Common.Class;
@{
    ViewData["Title"] = "WORKING TIME| ThaiStanley";
    Layout = "~/Views/Shared/_MenuBar_MoldOther.cshtml";
}
@{
    string _UserId = User.Claims.FirstOrDefault(s => s.Type == "UserId")?.Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;

}

<link href="~/css/New/mNew.css" rel="stylesheet" />
<link href="~/css/Home/siteHome.css" rel="stylesheet" />


<script type="text/javascript">document.onreadystatechange = () => { if (document.readyState === "interactive") { PositionY("NewMoldOtherWK"); } }</script>
<div class="home-content">
    <div id="DisplayContent" class="content-box">
        <div style="" class="content-text">
            <br />
            <div class="row center" style="padding:5px; background-color:#6fa54f; margin-bottom:5px; border-radius:5px;">
                <div class="col-60" style="text-align:left">
                    <span style="font-size:24px; font-weight:600; color:#ffffff; line-height:1.4;">
                        <span style="color:#b3e07d">MOLD OTHER</span> REQUEST SHEET DETAIL.
                    </span>

                    <span style="font-size:22px; font-weight:600; color:orange; line-height:1.4; margin-top:10px; display:block;">
                        WORKING TIME
                    </span>
                </div>
                <div class="col-40 center" style="text-align:right;">

                    @*<button class="button btnBlue" style="margin-right:20px;width:auto; @(Model._ViewceMastWorkingTimeRequest.wrStep > 1 ? "" : "display:none")"
                            onclick="Menubar_PrintMoldQUOTATION('@Url.Action("PrintMoldQUOTATION","NewMoldModify")','@Model._ViewceMastWorkingTimeRequest.mfCENo')">
                        <img src="~/images/printer.png" style="width:33px;height:24px;padding-right:5px;margin-right:8px;margin-top: 2px;margin-bottom: 2px;" />
                        REPORT
                    </button>*@
                    <button class="button" style="width:auto" onclick="Menubar_MoldOtherWKsendmail('','@Url.Action("History","NewMoldOtherWK")')">
                        <img src="~/images/direct.png" style="width:30px;height:24px;padding-right:5px;margin-right:8px;margin-top: 2px;margin-bottom: 2px;" />
                        SEND
                    </button>
                    <button class="button btnGray" style="width:auto ; @(Model._ViewceMastMoldOtherRequest.mrStep == 4 ? "pointer-events: none;" : "")"
                            onclick="Menubar_MoldOtherWKsaveDraft('@Url.Action("SaveDraft","NewMoldOtherWK")','@Url.Action("SaveCeDetailSub","NewMoldModify")')">
                        <img src="~/images/savedaft.png" style="width:30px;height:24px;padding-right:5px;margin-right:8px;margin-top: 2px;margin-bottom: 2px;" />
                        SAVE DAFT
                    </button>
                </div>

            </div>
            <div>
                <form id="formMoldOWKRequest" name="formMoldOWKRequest" enctype="multipart/form-data">
                    @Html.HiddenFor(m => m._ViewceMastWorkingTimeRequest.wrStep, new { id = "step" })
                    @Html.HiddenFor(m => m._ViewceMastWorkingTimeRequest.wrStatus, new { id = "Status" })
                    @Html.HiddenFor(m => m._ViewceMastWorkingTimeRequest.wrEmpCodeRequest, new { id = "EmpCodeRequest" })
                    @Html.HiddenFor(m => m._ViewceMastWorkingTimeRequest.wrNameRequest, new { id = "NameRequest" })
                    @Html.HiddenFor(m => m._ViewceMastWorkingTimeRequest.wrEmpCodeApprove, new { id = "EmpCodeApprove" })
                    @Html.HiddenFor(m => m._ViewceMastWorkingTimeRequest.wrNameApprove, new { id = "NameApprove" })
                    @Html.HiddenFor(m => m._ViewceMastWorkingTimeRequest.wrFlowNo, new { id = "mrFlowNo" })



                    <div style="margin-inline: auto;border: 0px solid white; background-color: aliceblue;padding:5px;border-radius:2px;">
                        <div class="row center">
                            <div class="col-15 " style="">
                            </div>
                            <div class="col-70 " style="">
                                @await Html.PartialAsync("_PartialStepFlowOtherRequest.cshtml", Model)
                            </div>
                            <div class="col-15 " style="">
                            </div>

                        </div>
                    </div>

                    <div id="divNewOther" style="margin-inline: auto;border: 0px solid white; background-color: aliceblue;padding:5px;border-radius:2px;">
                        <div class="row center">
                            <div class="col-5 " style="">
                            </div>
                            <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                                <div class="grid-item fw-800 center " style="text-align:left;font-size:12px">Cutomer Name.</div>

                            </div>
                            <div class="col-25" style=" display: flex;align-items: center; ">
                                <input type="text" class="form-control left " style="width:100%;height:80%;font-size:12px;background-color:lightgray" autocomplete="off" id="i_NewOtherWK_CusName" asp-for="_ViewceMastMoldOtherRequest.mrCustomerName" readonly>
                            </div>
                            <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                                <div class="grid-item fw-800 center " style="text-align:left;font-size:12px">Document No</div>

                            </div>
                            <div class="col-25 " style=" display: flex;align-items: center; ">
                                <input type="text" class="form-control left " style="width:100%;height:80%;font-size:12px;background-color:lightgray" autocomplete="off" id="i_NewOtherWK_DocumentNoSub" readonly asp-for="_ViewceMastWorkingTimeRequest.wrDocumentNoSub">
                                <input type="text" class="form-control left " style="width:100%;height:80%;font-size:12px;background-color:lightgray;display:none" autocomplete="off" id="i_NewOtherWK_DocumentNo" readonly asp-for="_ViewceMastWorkingTimeRequest.wrDocumentNo">
                            </div>

                            <div class="col-5 " style="">
                            </div>
                        </div>
                        <div class="row center">
                            <div class="col-5 " style="">
                            </div>
                            <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                                <div class="grid-item fw-800 center " style="text-align:left;font-size:12px">Model Name.</div>
                            </div>
                            <div class="col-25" style=" display: flex;align-items: center; ">
                                <input type="text" class="form-control left " style="width:100%;height:80%;font-size:12px;background-color:lightgray" autocomplete="off" id="i_NewOtherWK_ModelName" readonly asp-for="_ViewceMastMoldOtherRequest.mrModelName">
                            </div>
                            <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                                <div class="grid-item fw-800 center " style="text-align:left;font-size:12px">Funtion.</div>
                            </div>
                            <div class="col-25 " style=" display: flex;align-items: center; ">
                                <input type="text" class="form-control left " style="width:100%;height:80%;font-size:12px;background-color:lightgray" autocomplete="off" id="i_NewOtherWK_Function" readonly asp-for="_ViewceMastMoldOtherRequest.mrFunction">

                            </div>

                            <div class="col-5 " style="">
                            </div>
                        </div>

                        <br />
                        <div class=" center">
                            @await Html.PartialAsync("_PartialWKProcess", Model)
                        </div>
                        <div style="margin-top:10px">
                            @await Html.PartialAsync("_PartialWKAttachFile", Model)
                        </div>
                        <div class="modal modal-lg fade" id="myModalMoldWKSendmail" style="background-color:#4f4b4b4d;" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content ">
                                    <div class="modal-body" id="myModalBodySendMold">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal modal fade" id="myModalNewMoldOtherWK" style="background-color:#4f4b4b4d;" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body" id="myModalBodyNewMoldOther">
                                <div class="modal-header" style="margin-top:1px">
                                    <h5 class="modal-title">
                                        <span style="font-weight: bold; font-size: 16px;"><img src="~/images/folders.png" height="35px" width="35px" style="vertical-align:middle" />  เอกสาร​ทั้งหมดของผู้ร้องขอ  @Model._listAttachment.Count() ไฟล์</span>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class=" panel-group ir fadeInUp animated wowload animated" style="visibility: visible; animation-name: fadeInUp; margin-bottom: 5px; ">
                                    <div class="panel panel-default property">
                                        <div class=" panel-heading panel-heading-custom property" tabindex="0">
                                            <br>
                                            <h4 class="panel-title faq-title-range" data-bs-toggle="collapse" data-bs-target="#History" aria-expanded="true" aria-controls="collapseExample">
                                                <label style="font-size:15px;font-weight:800">
                                                    ไฟล์แนบ
                                                </label>
                                                <label class="lbV">
                                                </label>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse show" id="History" style="overflow-y: scroll; max-height: 200px;">
                                            @*<div id="divHistory" class="panel-body">
                                    </div>*@
                                            <div class="panel-body">
                                                <table class="summarys">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Name File</th>
                                                        <th style="width:50px">Delete</th>
                                                    </tr>


                                                    @if (@Model._listAttachment != null)
                                                    {

                                                        var row1 = 0;
                                                        @foreach (var item in @Model._listAttachment)
                                                        {
                                                            <tr>
                                                                <td> <label>@(row1 += 1)</label></td>
                                                                <td>

                                                                    <a href="@Url.Action("openFile", "New", new { pathFile = @item.fnFilename })" class="btn-image" target="_blank" style="padding-left:5px;text-decoration:auto;">
                                                                        @item.fnFilename
                                                                    </a>
                                                                </td>
                                                                <td style="text-align:center">

                                                                    @*@if (@_UserId == @Model._ViewceMastMoldOtherRequest.mrEmpCodeApprove && @Model._ViewceMastMoldOtherRequest.mrStep < 6)
                                                            {
                                                                <input type="button" style="font-size:14px" value="&#x274C" onclick="DeleteFileUser('@item.fnNo','@item.fnFilename','@Url.Action("DeteleDataFile","NewMoldOther")')">
                                                            }
                                                            else
                                                            {
                                                                <input type="button" style="font-size:14px" value="&#x274C" disabled>
                                                            }*@
                                                                    <input type="button"
                                                                           style="font-size:14px"
                                                                           value="&#x274C"
                                                                           onclick="DeleteFileUserWK('@item.fnNo','@item.fnFilename','@Url.Action("DeteleDataFile","NewMoldOtherWK")')"
                                                                           @( (_UserId == Model._ViewceMastMoldOtherRequest.mrEmpCodeApprove && Model._ViewceMastMoldOtherRequest.mrStep < 6) ? "" : "disabled") />

                                                                </td>
                                                            </tr>


                                                            @*<input type="button" value="&#x274C">*@

                                                        }

                                                    }
                                                </table>
                                            </div>


                                        </div>


                                    </div>
                                </div>
                                @*<div class="modal-footer" style="width: 100%;">

                            <button type="button" class="button btnRed" data-bs-dismiss="modal" style="width:80px;height:30px">Close</button>

                        </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



