@using System.Security.Claims;
@model CostEstimate.Models.Common.Class;
@using CostEstimate.Models.Common;
@{
    string _Permission = User.Claims.FirstOrDefault(s => s.Type == "Permission").Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;
    string _admin = GlobalVariable.perAdmin.ToUpper();

}
<div class="" style="border:0px solid gray;margin-top:10px;padding:2px;">
    <div class="grid-item fw-800 center " style="text-align:left;font-size:14px;margin-bottom:10px;">
        INFORMATION SPEC MOLD
        <span style="color:saddlebrown">
            ทั้งหมด
            @Model._ListGroupViewceMastInforSpacMoldRequest.Count()
            Part
        </span>
    </div>
    <div class="table-groupSMPartName table-containerHM " style="margin:auto">
        @for (int j = 0; j < Model._ListGroupViewceMastInforSpacMoldRequest.Count(); j++)
        {
            <div class="divMastInforSpac" data-block="@j" style="min-width:600px;border:0px solid #000;border-radius:12px;background:#fff;padding:10px;box-shadow:0 4px 12px rgba(0,0,0,0.2);">
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">Part Name</div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        <input type="text" class="form-control left icDocumentNoSub" asp-for="_ListViewceItemInforRequestPartName[j].ipDocumentNoSub" style="width:100%;height:80%;font-size:12px;background-color:lightgray;display:none" autocomplete="off" readonly>
                        <input type="text" class="form-control left icDocumentNoSub" asp-for="_ListViewceItemInforRequestPartName[j].ipRunNo" style="width:100%;height:80%;font-size:12px;background-color:lightgray;display:none" autocomplete="off" readonly>

                        <input type="text" class="form-control left iPartName" asp-for="_ListViewceItemInforRequestPartName[j].ipPartName" style="width:100%;height:80%;font-size:12px;background-color:lightgray" autocomplete="off" readonly>

                        <input type="text" class="form-control left iSprueSystem" asp-for="_ListViewceItemInforRequestPartName[j].ipSlide" style="width:100%;height:80%;font-size:12px;background-color:lightgray;display:none" autocomplete="off" readonly>

                    </div>
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">Cavity No</div>
                    </div>
                    <div class="col-30 " style=" display: flex;align-items: center; ">
                        <input type="text" class="form-control left iCavityNo" asp-for="_ListViewceItemInforRequestPartName[j].ipCavityNo" style="width:100%;height:80%;font-size:12px;background-color:lightgray" autocomplete="off" readonly>
                    </div>
                </div>
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">Type of Cavity</div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        <input type="text" class="form-control left iTypeCavity" asp-for="_ListViewceItemInforRequestPartName[j].ipTypeCavity" style="width:100%;height:80%;font-size:12px;background-color:lightgray" autocomplete="off" readonly>
                        <input type="text" class="form-control left iNoProcess" asp-for="_ListViewceItemInforRequestPartName[j].ipNoProcess" style="width:100%;height:80%;font-size:12px;background-color:lightgray;display:none" autocomplete="off" readonly>

                    </div>
                    <div class="col-20 " style=" display: flex;align-items: center;">

                    </div>
                    <div class="col-30 " style=" display: flex;align-items: center; ">
                    </div>
                </div>
                <hr style="margin:10px" />
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">SPRUE SYSTEM</div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipSprueSystem, (SelectList)ViewBag.listSprueSystem,
                       "กรุณาเลือก", new { @class = "form-control ipSprueSystem",
                           id = "i_NewMold_listSlideSystem_" + j,
                           autocomplete = "off",
                           @style = "width:100%;font-size:12px;background-color:yellow;height:80%;",
                             // <= กำหนดฟังก์ชัน JS
                       })

                    </div>
                    <div class="col-20 " style=" display: flex;align-items: center;">

                    </div>
                    <div class="col-30 " style=" display: flex;align-items: center; ">
                    </div>
                </div>
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">RUNNER</div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipRunner, (SelectList)ViewBag.listRunner, "กรุณาเลือก",new { @class = "form-control ipRunner",
                       id = "i_NewMold_listRUNNER" + j,
                       autocomplete = "off",
                       @style = "width:100%;font-size:12px;background-color:yellow;height:80%;" })
                    </div>
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">MAKER HOT RUNER </div>
                    </div>
                    <div class="col-30 " style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipMakerHotRunner, (SelectList)ViewBag.listMakerHotRunner, "กรุณาเลือก", new { @class = "form-control ipMakerHotRunner",
                       id = "i_NewMold_listMakerHotRunner" + j,
                       autocomplete = "off",
                       @style = "width:100%;font-size:12px;background-color:yellow;height:80%;" })
                    </div>
                </div>
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">GATE TYPE</div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipGateType1, (SelectList)ViewBag.listGateType, "กรุณาเลือก", new { @class = "form-control ipGateType1", id = "i_NewMold_listSlideSystem" + j, autocomplete = "off", @style = "width:100%;font-size:12px;background-color:yellow;height:80%;" })

                    </div>
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:12px">NUMBER POINT </div>
                    </div>
                    <div class="col-30 " style=" display: flex;align-items: center; ">
                        <input type="number" class="form-control left ipNumberPoint1" id="i_NewMold_ipNumberPoint1" +j style="width:80%;height:80%;font-size:10px;background-color:yellow;margin-right:5px" autocomplete="off" asp-for="_ListViewceItemInforRequestPartName[j].ipNumberPoint1">
                        <span style="font-size:10px;font-weight:600">DROP</span>
                    </div>

                </div>
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">GATE TYPE</div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipGateType2, (SelectList)ViewBag.listGateType, "กรุณาเลือก", new { @class = "form-control ipGateType2", id = "i_NewMold_ipGateType2" + j, autocomplete = "off", @style = "width:100%;font-size:12px;background-color:yellow;height:80%;" })

                    </div>
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:12px">NUMBER POINT </div>
                    </div>
                    <div class="col-30 " style=" display: flex;align-items: center; ">
                        <input type="number" class="form-control left ipNumberPoint2" style="width:80%;height:80%;font-size:10px;background-color:yellow;margin-right:5px" autocomplete="off" asp-for="_ListViewceItemInforRequestPartName[j].ipNumberPoint2" id="i_NewMold_ipNumberPoint2" +j>
                        <span style="font-size:10px;font-weight:600">DROP</span>
                    </div>

                </div>
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">GATE TYPE</div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipGateType3, (SelectList)ViewBag.listGateType, "กรุณาเลือก", new { @class = "form-control ipGateType3", id = "i_NewMold_ipGateType3" + j, autocomplete = "off", @style = "width:100%;font-size:12px;background-color:yellow;height:80%;" })

                    </div>
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:12px">NUMBER POINT </div>
                    </div>
                    <div class="col-30 " style=" display: flex;align-items: center; ">
                        <input type="number" class="form-control left ipNumberPoint3" style="width:80%;height:80%;font-size:10px;background-color:yellow;margin-right:5px" autocomplete="off" asp-for="_ListViewceItemInforRequestPartName[j].ipNumberPoint3" id="i_NewMold_ipNumberPoint3" +j>
                        <span style="font-size:10px;font-weight:600">DROP</span>
                    </div>

                </div>
                <hr style="margin:10px" />
                <div class="row">
                    @*<div class="col-70" style="text-align:left;padding-left:20px">
                            <span style="font-size:10px;font-weight:800;">
                                SLIDE SYSTEM
                            </span>
                        </div>*@
                    <div class="col-70" style="text-align:left;padding-left:20px">
                        <a class="btn btn-link p-0" data-bs-toggle="collapse" href="#collapseSlideSystem_@j" role="button" style="font-size:11px;font-weight:800;">
                            ▶ SLIDE SYSTEM
                        </a>
                    </div>

                    <div class="col-30" style="text-align:right;">
                        <input type='button'
                               class='button btnOrange btnAddRowSlideSystem'
                               data-table="tbSlideSystem_@j"
                               value='➕'
                               style="width:auto;height:28px;vertical-align: sub;margin-left:5px" />
                        @*<input type='button' class='button btnOrange' value='➕' style="width:auto;height:28px;vertical-align: sub;margin-left:5px" />*@
                    </div>

                </div>
                <div class="collapse show" id="collapseSlideSystem_@j">
                    @{
                        var SlideSystem = (SelectList)ViewBag.listSlideSystem;
                    }

                    <!-- Template Dropdown (ซ่อนไว้) -->
                    <div id="templateDropdownSlideSystem" style="display:none;" class="isSlideSystemType">
                        <select class="form-control isSlideSystemType" autocomplete="off"
                                style="width:100%;font-size:10px;background-color:yellow;height:80%;">
                            <option value="">กรุณาเลือก</option>
                            @foreach (var item in SlideSystem)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>


                    <table class="tbgreen" Typeofcut" id="tbSlideSystem_@j">
                        <tr>
                            <th width="10%">No</th>
                            <th>SYSTEM</th>
                            <th width="20%">TOTAL</th>
                            <th width="10%">DEL</th>
                        </tr>
                        @{
                            var row = 0;
                        }
                        @for (int i = 0; i < Model._ListGroupViewceMastInforSpacMoldRequest[j].ItemInforSlideSystem.Count(); i++)
                        {
                            <tr id='trSlideSystem'>
                                <td style="text-align:center;">@(row += 1)</td>
                                <td>
                                    @Html.DropDownListFor(m => m._ListGroupViewceMastInforSpacMoldRequest[j].ItemInforSlideSystem[i].isSlideSystemType, (SelectList)ViewBag.listSlideSystem, "กรุณาเลือก", new { @class = "form-control isSlideSystemType", id = "i_NewMold_ItemisSlideSystemType" + i, autocomplete = "off", @style = "width:100%;font-size:10px;background-color:yellow;height:80%;" })
                                    <input type="text" class="isDocumentNoSub form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipDocumentNoSub" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="isPartName form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipPartName" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="isCavityNo form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipCavityNo" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="isTypeCavity form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipTypeCavity" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="isNoProcess form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipNoProcess" style="margin-bottom:2px; width:100%;display:none" />
                                </td>
                                <td>
                                    <input type="number" class="isSlideSystemCount form-control" value="@Model._ListGroupViewceMastInforSpacMoldRequest[j].ItemInforSlideSystem[i].isSlideSystemCount" style="margin-bottom:2px; width:100%;font-size:9px;background-color:yellow;" />
                                </td>
                                <td style="text-align:center;">
                                    <input type="button" class="btnDel" value="&#x274C" />
                                </td>

                            </tr>
                        }

                    </table>
                </div>
                <hr style="margin:10px" />
                <span style="font-size:10px;font-weight:800;margin-left:5px">GROUP MATERIAL</span>
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">
                            BASE CAVITY
                        </div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipBaseCavity, (SelectList)ViewBag.listGroupMaterial, "กรุณาเลือก", new { @class = "form-control", id = "i_NewMold_listSlideSystem", autocomplete = "off", @style = "width:100%;font-size:12px;background-color:yellow;height:80%;" })

                    </div>
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">
                            INSERT CAVITY
                        </div>
                    </div>
                    <div class="col-30 " style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipInsertCavity, (SelectList)ViewBag.listGroupMaterial, "กรุณาเลือก", new { @class = "form-control", id = "i_NewMold_listSlideSystem", autocomplete = "off", @style = "width:100%;font-size:12px;background-color:yellow;height:80%;" })
                    </div>

                </div>
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">
                            BASE CORE
                        </div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipBaseCode, (SelectList)ViewBag.listGroupMaterial, "กรุณาเลือก", new { @class = "form-control", id = "i_NewMold_listSlideSystem", autocomplete = "off", @style = "width:100%;font-size:12px;background-color:yellow;height:80%;" })

                    </div>
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">
                            INSERT CORE
                        </div>
                    </div>
                    <div class="col-30 " style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipInsertCode, (SelectList)ViewBag.listGroupMaterial, "กรุณาเลือก", new { @class = "form-control", id = "i_NewMold_listSlideSystem", autocomplete = "off", @style = "width:100%;font-size:12px;background-color:yellow;height:80%;" })
                    </div>

                </div>


                <hr style="margin:10px" />
                <div class="row">
                    <div class="col-70" style="text-align:left">
                        @*<span style="font-size:10px;font-weight:800;padding-left:10px">TYPE OF CUT</span>*@

                        <a class="btn btn-link p-0" data-bs-toggle="collapse" href="#collapseTypeofcut_@j" role="button" style="font-size:11px;font-weight:800;">
                            ▶ TYPE OF CUT
                        </a>

                    </div>

                    <div class="col-30" style="text-align:right;">
                        <input type='button'
                               class='button btnOrange btnAddRowTypeofcut'
                               data-table="tbTypeofcut_@j"
                               value='➕'
                               style="width:auto;height:28px;vertical-align: sub;margin-left:5px" />
                    </div>
                </div>
                <div class="collapse show" id="collapseTypeofcut_@j">
                    @{
                        var typeOfCuts = (SelectList)ViewBag.listTypeOfCut;
                    }
                    <!-- Template Dropdown (ซ่อนไว้) -->
                    <div id="templateDropdown" style="display:none;" class="icTypeofcut">
                        <select class="form-control icTypeofcut" autocomplete="off"
                                style="width:100%;font-size:10px;background-color:yellow;height:80%;">
                            <option value="">กรุณาเลือก</option>
                            @foreach (var item in typeOfCuts)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>

                    <table class="tbgreen Typeofcut" id="tbTypeofcut_@j">
                        <tr>
                            <th width="10%">No</th>
                            <th>TYPE</th>
                            <th width="10%">DEL</th>
                        </tr>
                        @{
                            var row1 = 0;
                        }
                        @for (int i = 0; i < Model._ListGroupViewceMastInforSpacMoldRequest[j].ItemInforTypeOfCut.Count(); i++)
                        {
                            <tr id='trTypeofcut'>
                                <td style="text-align:center;">@(row1 += 1)</td>
                                <td>
                                    @Html.DropDownListFor(m => m._ListGroupViewceMastInforSpacMoldRequest[j].ItemInforTypeOfCut[i].icTypeofcut, (SelectList)ViewBag.listTypeOfCut, "กรุณาเลือก", new { @class = "form-control icTypeofcut", id = "i_NewMold_typeOfCuts" + i, autocomplete = "off", @style = "width:100%;font-size:10px;background-color:yellow;height:80%;" })
                                    <input type="text" class="icDocumentNoSub form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipDocumentNoSub" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="icPartName form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipPartName" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="icCavityNo form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipCavityNo" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="icTypeCavity form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipTypeCavity" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="icNoProcess form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipNoProcess" style="margin-bottom:2px; width:100%;display:none" />
                                </td>
                                <td style="text-align:center;">
                                    <input type="button" class="btnDel" value="&#x274C" />
                                </td>
                            </tr>




                        }


                    </table>
                </div>
                <hr style="margin:10px" />
                <div class="row">
                    <div class="col-70" style="text-align:left">
                        @*<span style="font-size:10px;font-weight:800;padding-left:10px">SHIBO</span>*@
                        <a class="btn btn-link p-0" data-bs-toggle="collapse" href="#collapseSHIBO_@j" role="button" style="font-size:11px;font-weight:800;">
                            ▶ SHIBO
                        </a>

                    </div>
                    <div class="col-30" style="text-align:right;">
                        <input type='button'
                               class='button btnOrange btnAddRowShibo'
                               data-table="tbShibo_@j"
                               value='➕'
                               style="width:auto;height:28px;vertical-align: sub;margin-left:5px" />
                    </div>

                </div>
                <div class="collapse show" id="collapseSHIBO_@j">
                    @{
                        var typeShibo = (SelectList)ViewBag.listELECTROFORM;
                    }
                    <!-- Template Dropdown (ซ่อนไว้) -->
                    <div id="templateDropdownShibo" style="display:none;" class="ibShiboType">
                        <select class="form-control ibShiboType" autocomplete="off"
                                style="width:100%;font-size:10px;background-color:yellow;height:80%;">
                            @*<option value="">กรุณาเลือก</option>*@
                            @foreach (var item in typeShibo)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>

                    <table class="tbgreen typeShibo" id="tbShibo_@j">
                        <tr>
                            <th width="10%">No</th>
                            <th>TYPE</th>
                            <th width="50%">Description</th>
                            <th width="10%">DEL</th>
                        </tr>
                        @{
                            var row2 = 0;
                        }
                        @for (int i = 0; i < Model._ListGroupViewceMastInforSpacMoldRequest[j].ItemInforShibo.Count(); i++)
                        {
                            <tr id='trItemShibo'>
                                <td style="text-align:center;">@(row2 += 1)</td>
                                <td>
                                    @Html.DropDownListFor(m => m._ListGroupViewceMastInforSpacMoldRequest[j].ItemInforShibo[i].ibShiboType, (SelectList)ViewBag.listELECTROFORM, "กรุณาเลือก", new { @class = "form-control ibShiboType", id = "i_NewMold_ibShiboType" + i, autocomplete = "off", @style = "width:100%;font-size:10px;background-color:yellow;height:80%;" })
                                    <input type="text" class="ibDocumentNoSub form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipDocumentNoSub" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="ibPartName form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipPartName" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="ibCavityNo form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipCavityNo" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="ibTypeCavity form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipTypeCavity" style="margin-bottom:2px; width:100%;display:none" />
                                    <input type="text" class="ibNoProcess form-control" value="@Model._ListViewceItemInforRequestPartName[j].ipNoProcess" style="margin-bottom:2px; width:100%;display:none" />
                                </td>
                                <td>
                                    <input type="text" class="ibSHiboPCS form-control" value="@Model._ListGroupViewceMastInforSpacMoldRequest[j].ItemInforShibo[i].ibSHiboPCS" style="margin-bottom:2px; width:100%;font-size:9px;background-color:yellow;" />
                                </td>
                                <td style="text-align:center;">
                                    <input type="button" class="btnDel" value="&#x274C" />
                                </td>

                            </tr>
                        }

                    </table>
                </div>
                <hr style="margin:10px" />
                <div class="row center">
                    <div class="col-20 border1_5green" style=" display: flex;align-items: center;">
                        <div class="grid-item fw-800 center " style="text-align:left;font-size:10px">ELECTROFORM</div>
                    </div>
                    <div class="col-30" style=" display: flex;align-items: center; ">
                        @Html.DropDownListFor(m => m._ListViewceItemInforRequestPartName[j].ipElectroFormType, (SelectList)ViewBag.listELECTROFORM, new { @class = "form-control ipElectroFormType", id = "i_NewMold_ipElectroFormType" + j, autocomplete = "off", @style = "width:100%;font-size:11px;background-color:yellow;height:80%;" })
                    </div>
                    <div class="col-35 " style=" display: flex;align-items: center;">
                        <input type="number" class="form-control ipElectroFormPcs " asp-for="_ListViewceItemInforRequestPartName[j].ipElectroFormPcs"
                               style="width:80%;height:100%;font-size:12px;margin-right:5px; " autocomplete="off" id="i_moldOther_ipElectroFormPcs" />

                        @*<input type="number"
                            class="form-control"
                            @(Model._ListViewceItemInforRequestPartName[j].ipElectroFormType == false ? "disabled" : "")
                            style="width:80%;height:80%;font-size:12px;background-color:yellow;" />*@

                        <span class="FormPcs" style="font-size:10px;font-weight:600;" id="i_MoldOther_FormPcs" +j>PCS</span>
                    </div>
                    <div class="col-15 " style=" display: flex;align-items: center; ">
                    </div>
                </div>
            </div>




        }
    </div>
</div>
<script>
    $(document).ready(function () {
        // ให้ dropdown ทุกตัวที่มี class ipSprueSystem ยิง event change ตอนโหลด
        $(".ipSprueSystem").each(function () {
            $(this).trigger("change");
        });

        $(".ipElectroFormType").each(function () {
            $(this).trigger("change");
        });
        $(".ibShiboType").each(function () {
            $(this).trigger("change");
        });

    });


    $(document).on("click", ".toggleSlideSystem", function () {
        var $content = $(this).closest(".row").next(".slideSystemContent");
        $content.slideToggle();

        // เปลี่ยนลูกศร ▶ ⬇
        let text = $(this).text();
        if (text.startsWith("▶")) {
            $(this).text(text.replace("▶", "⬇"));
        } else {
            $(this).text(text.replace("⬇", "▶"));
        }
    });

    $(document).on("click", ".btnAddRowShibo", function () {
        console.log("btnAddRowShibo");
        let tableId = $(this).data("table");   // ดึง id ของ table ที่ปุ่มนี้ผูกไว้
        let $table = $("#" + tableId);
        //divMastInforSpac
        let $block = $(this).closest(".divMastInforSpac"); // block ของปุ่มนี้เท่านั้น

        // ดึงค่าของ input ใน block นี้
        let DocumentNoSub = $block.find(".icDocumentNoSub").val() || "";
        let partName = $block.find(".iPartName").val() || "";
        let cavityNo = $block.find(".iCavityNo").val() || "";
        let typeCavity = $block.find(".iTypeCavity").val() || "";
        let noProcess = $block.find(".iNoProcess").val() || "";


        // นับจำนวนแถว (ไม่รวม header)
        let rowCount = $table.find("tr").length - 1;

        let ddlHtml = $("#templateDropdownShibo").html();

        // สร้างแถวใหม่
        let newRow = `
            <tr id='trItemShibo'>
                <td style="text-align:center;">${rowCount + 1}</td>
                <td>
                ${ddlHtml}
                <input type="text" class="ibDocumentNoSub form-control" value="${DocumentNoSub}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="ibPartName form-control" value="${partName}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="ibCavityNo form-control" value="${cavityNo}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="ibTypeCavity form-control" value="${typeCavity}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="ibNoProcess form-control" value="${noProcess}" style="margin-bottom:2px; width:100%;display:none"/>
                </td>
                <td>
                <input type="text" class="ibSHiboPCS form-control" value="" style="margin-bottom:2px; width:100%;font-size:9px;background-color:yellow;"/>
                </td>
                <td style="text-align:center;">
                    <input type="button" class="btnDel" value="&#x274C"/>
                </td>
            </tr>
        `;

        $table.append(newRow);
    });

    $(document).on("click", ".btnAddRowSlideSystem", function () {
        console.log("btnAddRowSlideSystem");
        let tableId = $(this).data("table");   // ดึง id ของ table ที่ปุ่มนี้ผูกไว้
        let $table = $("#" + tableId);
        //divMastInforSpac
        let $block = $(this).closest(".divMastInforSpac"); // block ของปุ่มนี้เท่านั้น

        // ดึงค่าของ input ใน block นี้
        let DocumentNoSub = $block.find(".icDocumentNoSub").val() || "";
        let partName = $block.find(".iPartName").val() || "";
        let cavityNo = $block.find(".iCavityNo").val() || "";
        let typeCavity = $block.find(".iTypeCavity").val() || "";
        let noProcess = $block.find(".iNoProcess").val() || "";


        // นับจำนวนแถว (ไม่รวม header)
        let rowCount = $table.find("tr").length - 1;

        let ddlHtml = $("#templateDropdownSlideSystem").html();

        // สร้างแถวใหม่
        let newRow = `
            <tr id='trSlideSystem'>
                <td style="text-align:center;">${rowCount + 1}</td>
                <td>
                ${ddlHtml}
                <input type="text" class="isDocumentNoSub form-control" value="${DocumentNoSub}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="isPartName form-control" value="${partName}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="isCavityNo form-control" value="${cavityNo}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="isTypeCavity form-control" value="${typeCavity}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="isNoProcess form-control" value="${noProcess}" style="margin-bottom:2px; width:100%;display:none"/>
                </td>
                <td>
                <input type="number" class="isSlideSystemCount form-control" value="0" style="margin-bottom:2px; width:100%;font-size:9px;background-color:yellow;"/>
                </td>
                <td style="text-align:center;">
                    <input type="button" class="btnDel" value="&#x274C"/>
                </td>
            </tr>
        `;

        $table.append(newRow);
    });

    $(document).on("click", ".btnAddRowTypeofcut", function () {
        let tableId = $(this).data("table");   // ดึง id ของ table ที่ปุ่มนี้ผูกไว้
        let $table = $("#" + tableId);
        //divMastInforSpac
        let $block = $(this).closest(".divMastInforSpac"); // block ของปุ่มนี้เท่านั้น

        // ดึงค่าของ input ใน block นี้
        let DocumentNoSub = $block.find(".icDocumentNoSub").val() || "";
        let partName = $block.find(".iPartName").val() || "";
        let cavityNo = $block.find(".iCavityNo").val() || "";
        let typeCavity = $block.find(".iTypeCavity").val() || "";
        let noProcess = $block.find(".iNoProcess").val() || "";

        console.log("partName" + partName);
        console.log("cavityNo" + cavityNo);
        console.log("typeCavity" + typeCavity);
        console.log("noProcess" + noProcess);



        // นับจำนวนแถว (ไม่รวม header)
        let rowCount = $table.find("tr").length - 1;

        let ddlHtml = $("#templateDropdown").html();

        // สร้างแถวใหม่
        let newRow = `
            <tr id='trTypeofcut'>
                <td style="text-align:center;">${rowCount + 1}</td>
                <td>
                ${ddlHtml}
                <input type="text" class="icDocumentNoSub form-control" value="${DocumentNoSub}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="icPartName form-control" value="${partName}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="icCavityNo form-control" value="${cavityNo}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="icTypeCavity form-control" value="${typeCavity}" style="margin-bottom:2px; width:100%;display:none"/>
                <input type="text" class="icNoProcess form-control" value="${noProcess}" style="margin-bottom:2px; width:100%;display:none"/>
                </td>
                <td style="text-align:center;">
                    <input type="button" class="btnDel" value="&#x274C"/>
                </td>
            </tr>
        `;

        $table.append(newRow);
    });

    $(document).on("click", ".btnDel", function () {
        $(this).closest("tr").remove();
    });

    $(document).on("change", ".ipSprueSystem", function () {
        var selectElement = this;           // this คือ select ที่เปลี่ยนค่า
        var value = selectElement.value;
        var text = selectElement.options[selectElement.selectedIndex].text;

        // หา block ของ dropdown นี้
        let $block = $(selectElement).closest(".divMastInforSpac");
        //console.log("Found block:", $block.length);

        // หา ipRunner ใน block เดียวกัน
        let $ipRunner = $block.find(".ipRunner");
        let $ipMakerHotRunner = $block.find(".ipMakerHotRunner");

        let $ipGateType1 = $block.find(".ipGateType1");
        let $ipNumberPoint1 = $block.find(".ipNumberPoint1");
        let $ipGateType2 = $block.find(".ipGateType2");
        let $ipNumberPoint2 = $block.find(".ipNumberPoint2");
        let $ipGateType3 = $block.find(".ipGateType3");
        let $ipNumberPoint3 = $block.find(".ipNumberPoint3");



        console.log("Found $ipMakerHotRunner:", $ipMakerHotRunner.length);

        if (value.toUpperCase().includes("COLD")) {
            console.log("Selected Value: COLD");

            // หา option ที่มี CORE
            let $optionWithCore = $ipRunner.find("option").filter(function () {
                return $(this).text().toUpperCase().includes("COLD");
            });

            if ($optionWithCore.length > 0) {
                let matchedValue = $optionWithCore.first().val(); // เอาตัวแรก
                $ipRunner.val(matchedValue).trigger("change");

                $ipMakerHotRunner.prop('selectedIndex', 0).trigger("change"); //clear value
                $ipMakerHotRunner.prop("disabled", true);  // เปิด select ธรรมดา
                $ipMakerHotRunner.css("background-color", "lightgray");

                //$ipGateType1.prop("disabled", true);  // เปิด select ธรรมดา
                //$ipGateType1.css("background-color", "lightgray");
                //$ipNumberPoint1.prop("disabled", true);  // เปิด select ธรรมดา
                //$ipNumberPoint1.css("background-color", "lightgray");

                $ipGateType1.removeAttr("disabled");
                $ipGateType1.css("background-color", "yellow");
                $ipNumberPoint1.removeAttr("disabled");
                $ipNumberPoint1.css("background-color", "yellow");



                $ipGateType2.prop("disabled", true);  // เปิด select ธรรมดา
                $ipGateType2.css("background-color", "lightgray");
                $ipNumberPoint2.prop("disabled", true);  // เปิด select ธรรมดา
                $ipNumberPoint2.css("background-color", "lightgray");

                $ipGateType3.prop("disabled", true);  // เปิด select ธรรมดา
                $ipGateType3.css("background-color", "lightgray");
                $ipNumberPoint3.prop("disabled", true);  // เปิด select ธรรมดา
                $ipNumberPoint3.css("background-color", "lightgray");

            }
        } else if (value.toUpperCase().includes("HOT")) {
            //$ipRunner.prop('selectedIndex', 2).trigger("change"); //clear value
            $ipRunner.removeAttr("disabled");
            $ipRunner.css("background-color", "yellow");

            $ipMakerHotRunner.removeAttr("disabled");
            $ipMakerHotRunner.css("background-color", "yellow");


            $ipGateType1.removeAttr("disabled");
            $ipGateType1.css("background-color", "yellow");
            $ipNumberPoint1.removeAttr("disabled");
            $ipNumberPoint1.css("background-color", "yellow");

            $ipGateType2.removeAttr("disabled");
            $ipGateType2.css("background-color", "yellow");
            $ipNumberPoint2.removeAttr("disabled");
            $ipNumberPoint2.css("background-color", "yellow");

            $ipGateType3.removeAttr("disabled");
            $ipGateType3.css("background-color", "yellow");
            $ipNumberPoint3.removeAttr("disabled");
            $ipNumberPoint3.css("background-color", "yellow");
        }
        else {
            // ถ้าไม่ใช่ COLD → เลือก option แรก
            $ipRunner.prop('selectedIndex', 0).trigger("change");
            //$ipMakerHotRunner.removeAttr("disabled");
            //$ipMakerHotRunner.css("background-color", "yellow");


            $ipRunner.prop("disabled", true);  // เปิด select ธรรมดา
            $ipRunner.css("background-color", "lightgray");
            $ipMakerHotRunner.prop("disabled", true);  // เปิด select ธรรมดา
            $ipMakerHotRunner.css("background-color", "lightgray");




            $ipGateType1.prop("disabled", true);  // เปิด select ธรรมดา
            $ipGateType1.css("background-color", "lightgray");
            $ipNumberPoint1.prop("disabled", true);  // เปิด select ธรรมดา
            $ipNumberPoint1.css("background-color", "lightgray");

            $ipGateType2.prop("disabled", true);  // เปิด select ธรรมดา
            $ipGateType2.css("background-color", "lightgray");
            $ipNumberPoint2.prop("disabled", true);  // เปิด select ธรรมดา
            $ipNumberPoint2.css("background-color", "lightgray");

            $ipGateType3.prop("disabled", true);  // เปิด select ธรรมดา
            $ipGateType3.css("background-color", "lightgray");
            $ipNumberPoint3.prop("disabled", true);  // เปิด select ธรรมดา
            $ipNumberPoint3.css("background-color", "lightgray");

            //console.log("Clear ipRunner / select first option");
        }
    });

    $(document).on("change", ".ipElectroFormType", function () {
        var selectElement = this;           // this คือ select ที่เปลี่ยนค่า
        var value = selectElement.value;

        let $block = $(selectElement).closest(".divMastInforSpac");
        // console.log("Found block:", $block.length);

        // หา ipRunner ใน block เดียวกัน
        let $ipElectroFormPcs = $block.find(".ipElectroFormPcs");
        let $FormPcs = $block.find(".FormPcs");


        //console.log("Found $ipMakerHotRunner:", $ipElectroFormPcs.length);

        //console.log("valueText" + valueText);
        if (value == "True") {
            console.log("YES");

            $ipElectroFormPcs.css("display", "block");
            $FormPcs.css("display", "block");

            $ipElectroFormPcs.removeAttr("disabled");
            $ipElectroFormPcs.css("background-color", "yellow");

        } else if (value == "NO") {
            $ipElectroFormPcs.css("display", "none");
            $FormPcs.css("display", "none");

            $ipElectroFormPcs.prop("disabled", true);  // เปิด select ธรรมดา
            $ipElectroFormPcs.css("background-color", "lightgray");

        }
        else {
            $ipElectroFormPcs.css("display", "none");
            $FormPcs.css("display", "none");

            $ipElectroFormPcs.prop("disabled", true);  // เปิด select ธรรมดา
            $ipElectroFormPcs.css("background-color", "lightgray");
        }
    });


    $(document).on("change", ".ibShiboType", function () {
        var selectElement = this; // select ที่เปลี่ยนค่า
        var value = selectElement.value;
        console.log("value:", value);

        // หา tr ของ select ที่เปลี่ยน
        let $row = $(selectElement).closest("tr");

        // หา ibSHiboPCS ใน tr เดียวกัน
        let $ibSHiboPCS = $row.find(".ibSHiboPCS");

        if (value === "True") {
            console.log("YES");
            $ibSHiboPCS.css("display", "block");
       
        } else {
            console.log("NO");
            $ibSHiboPCS.css("display", "none");
            $ibSHiboPCS.val("-");
        }
    });


</script>

