@model CostEstimate.Models.Common.Class;
@{
    //string _Permission = User.Claims.FirstOrDefault(s => s.Type == "Permission").Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;

}
<link href="~/css/Home/siteHome.css" rel="stylesheet" />

@*REMARK*@
<div class="row center">

    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_FlowNo" asp-for="_ViewceMastModifyRequest.mfFlowNo">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_Step" asp-for="_ViewceMastModifyRequest.mfStep">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_Status" asp-for="_ViewceMastModifyRequest.mfStatus">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_NameRequest" asp-for="_ViewceMastModifyRequest.mfNameRequest">
    @*<input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_NameApprove" asp-for="_ViewceMastModifyRequest.mfNameApprove">*@
    @*<input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_IssueDept" asp-for="_ViewceMastModifyRequest.mfIssueDept">*@
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_NameApprove" asp-for="_ViewceMastModifyRequest.mfNameApprove">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_EmpCodeApprove" asp-for="_ViewceMastModifyRequest.mfEmpCodeApprove">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_EmpCodeRequest" asp-for="_ViewceMastModifyRequest.mfEmpCodeRequest">


    @*<div class="col-5 " style="">

    </div>
    <div class="col-90 " style="@(Model._ViewceMastSubMakerRequest.smStep == 7 ? "pointer-events: none;border:1.5px solid gray;padding:10px " : "border:1.5px solid gray;padding:10px")" id="radioGroupContainer" >
        <div class="row center">

            <div class="col-30 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;text-decoration: underline;"><span style=""></span>REMARK</div>
            </div>
            <div class="col-5 " style="">
            </div>
            <div class="col-30" style="">
            </div>
            <div class="col-5 " style="">
            </div>
            <div class="col-30" style="">
                <div class="grid-item fw-800 center" style="text-align:right;"> <span style="color:red">**ให้ติ๊ก เลือกได้ Process เดียว</span></div>

            </div>

        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;">เนื่องจากมีการ Revise แผนงาน</div>
            </div>

            <div class="col-50" style="">
                <div class="grid-item fw-800 center" style="text-align:left;">เนื่องจากไม่สามารถขึ้นเครื่องได้​</div>

            </div>
            <div class="col-5 " style="">

            </div>
        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "The schedule is therefore at TRY-0", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) แผนงานเลย TRY-0​</div>
            </div>

            <div class="col-50" style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "The machine already has work in progress", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) เครื่องมีงานขึ้นอยู่แล้ว (เครื่องมีจำนวนจำกัดเช่นเครื่อง BM,NCG​)​</div>

            </div>
            <div class="col-5 " style="">

            </div>
        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "Adjust schedule to speed up,for next model", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) ปรับแผนงานให้ใวขึ้น (เพื่อรองรับ Model ตัวต่อไป)​</div>
            </div>

            <div class="col-50" style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "mold is large,machine cannot handle the weight", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) แม่พิมพ์มีขนาดใหญ่เครื่องจักรไม่สามารถรับน้ำหนักได้​​</div>
            </div>
            <div class="col-5 " style="">
            </div>
        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "CAM not finishing on time", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) เนื่องจาก CAM ทำ Program ไม่ทัน​</div>
            </div>

            <div class="col-50" style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "Break Down", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" })  เนื่องจากเครื่องจักรเสีย ( Break Down )​​​</div>

            </div>
            <div class="col-5 " style="">

            </div>
        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
            </div>
            <div class="col-50" style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "Other", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('Other')", required = "required", @style = "height:15px;width:15px;" })  อื่นๆ​​​</div>

            </div>
            <div class="col-5 " style="">
            </div>
        </div>
        <div class="row ">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
            </div>
            <div class="col-50 " style="">
                <input type="text" class="form-control left" style="width:90%;font-size:12px" autocomplete="off" id="i_New_RemarkOther" asp-for="_ViewceMastSubMakerRequest.smRemarkOther" disabled>

            </div>
            <div class="col-5 " style="">
            </div>
        </div>
    </div>
    <div class="col-5 " style="">
    </div>*@
</div>

@*detail*@
<div class="row center" style="@(Model._ViewceMastModifyRequest.mfStep == 6 ? "pointer-events: none; " : "")">
    
    <div class="col-100 " style="border:1.5px solid gray;padding:10px">
        <div class="row center">
            <div class="col-5 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;text-decoration: underline;">Detail</div>
            </div>
            <div class="col-90 " style="">
                @Html.TextAreaFor(model => model._ViewceMastModifyRequest.mfDetail, new { @class = "form-control", style = "font-size:12px;max-width:100% ;field-sizing: content;min-height:80px;background-color:yellow", @id = "i_NewMold_Detail", maxlength = "500" })
            </div>
            <div class="col-5 " style="">

            </div>
        </div>
        @*<div class="row center">
            <div class="col-5 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;">Weight.</div>
            </div>

            <div class="col-30 " style="">
                <input type="number" class="form-control left" style="width:60%;font-size:12px;background-color:yellow" autocomplete="off" id="i_New_Weight" asp-for="_ViewceMastSubMakerRequest.smWeight" value="@(Model._ViewceMastSubMakerRequest?.smWeight ?? "0")">
            </div>
            <div class="col-5 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;">Qty.</div>
            </div>
            <div class="col-30 " style="">
                <input type="number" class="form-control left" style="width:60%;font-size:12px;background-color:yellow" autocomplete="off" id="i_New_Qty" asp-for="_ViewceMastSubMakerRequest.smQty">
            </div>
            <div class="col-5 " style="">

            </div>
        </div>*@
    </div>
   
</div>
