@model CostEstimate.Models.Common.Class;
@{
    //string _Permission = User.Claims.FirstOrDefault(s => s.Type == "Permission").Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;

}
<link href="~/css/Home/siteHome.css" rel="stylesheet" />

@*REMARK*@
<div class="row center">

    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_FlowNo" asp-for="_ViewceMastSubMakerRequest.smFlowNo">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_Step" asp-for="_ViewceMastSubMakerRequest.smStep">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_Status" asp-for="_ViewceMastSubMakerRequest.smStatus">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_NameRequest" asp-for="_ViewceMastSubMakerRequest.smNameRequest">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_NameApprove" asp-for="_ViewceMastSubMakerRequest.smNameApprove">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_IssueDept" asp-for="_ViewceMastSubMakerRequest.smIssueDept">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_NameApprove" asp-for="_ViewceMastSubMakerRequest.smNameApprove">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_EmpCodeApprove" asp-for="_ViewceMastSubMakerRequest.smEmpCodeApprove">
    <input type="text" style="width:80%;font-size:12px;display:none" autocomplete="off" id="i_New_EmpCodeRequest" asp-for="_ViewceMastSubMakerRequest.smEmpCodeRequest">


    <div class="col-5 " style="">

    </div>
    <div class="col-90 " style="@(Model._ViewceMastSubMakerRequest.smStep == 7 ? "pointer-events: none;border:1.5px solid gray;padding:10px " : "border:1.5px solid gray;padding:10px")">
        <div class="row center">

            <div class="col-30 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;text-decoration: underline;"><span style=""></span>REMARK</div>
            </div>
            <div class="col-5 " style="">
            </div>
            <div class="col-30" style="">
            </div>
            <div class="col-5 " style="">
            </div>
            <div class="col-30" style="">
                <div class="grid-item fw-800 center" style="text-align:right;"> <span style="color:red">**ให้ติ๊ก เลือกได้ Process เดียว</span></div>

            </div>

        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;">เนื่องจากมีการ Revise แผนงาน</div>
            </div>

            <div class="col-50" style="">
                <div class="grid-item fw-800 center" style="text-align:left;">เนื่องจากไม่สามารถขึ้นเครื่องได้​</div>

            </div>
            <div class="col-5 " style="">

            </div>
        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "The schedule is therefore at TRY-0", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) แผนงานเลย TRY-0​</div>
            </div>

            <div class="col-50" style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "The machine already has work in progress", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) เครื่องมีงานขึ้นอยู่แล้ว (เครื่องมีจำนวนจำกัดเช่นเครื่อง BM,NCG​)​</div>

            </div>
            <div class="col-5 " style="">

            </div>
        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "Adjust schedule to speed up,for next model", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) ปรับแผนงานให้ใวขึ้น (เพื่อรองรับ Model ตัวต่อไป)​</div>
            </div>

            <div class="col-50" style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "mold is large,machine cannot handle the weight", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) แม่พิมพ์มีขนาดใหญ่เครื่องจักรไม่สามารถรับน้ำหนักได้​​</div>
            </div>
            <div class="col-5 " style="">
            </div>
        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "CAM not finishing on time", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" }) เนื่องจาก CAM ทำ Program ไม่ทัน​</div>
            </div>

            <div class="col-50" style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "Break Down", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('')", required = "required", @style = "height:15px;width:15px;" })  เนื่องจากเครื่องจักรเสีย ( Break Down )​​​</div>

            </div>
            <div class="col-5 " style="">

            </div>
        </div>
        <div class="row center">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
            </div>
            <div class="col-50" style="">
                <div class="grid-item fw-400 center" style="text-align:left;">@Html.RadioButtonFor(m => m._ViewceMastSubMakerRequest.smRemark, "Other", new { @class = "", id = "StatussmRemark", onclick = "CheckStatus('Other')", required = "required", @style = "height:15px;width:15px;" })  อื่นๆ​​​</div>

            </div>
            <div class="col-5 " style="">
            </div>
        </div>
        <div class="row ">
            <div class="col-5 " style="">
            </div>
            <div class="col-40 " style="">
            </div>
            <div class="col-50 " style="">
                <input type="text" class="form-control left" style="width:90%;font-size:12px" autocomplete="off" id="i_New_RemarkOther" asp-for="_ViewceMastSubMakerRequest.smRemarkOther">

            </div>
            <div class="col-5 " style="">
            </div>
        </div>
    </div>
    <div class="col-5 " style="">
    </div>
</div>

@*detail*@
<div class="row center" style="@(Model._ViewceMastSubMakerRequest.smStep == 7 ? "pointer-events: none; " : "")">
    <div class="col-5 " style="">
    </div>
    <div class="col-90 " style="border:1.5px solid gray;padding:10px">
        <div class="row center">
            <div class="col-5 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;text-decoration: underline;">Detail</div>
            </div>
            <div class="col-90 " style="">
                @Html.TextAreaFor(model => model._ViewceMastSubMakerRequest.smDetail, new { @class = "form-control", style = "font-size:12px;max-width:100% ;field-sizing: content;min-height:80px", @id = "i_New_Detail" })
            </div>
            <div class="col-5 " style="">

            </div>
        </div>
        <div class="row center">
            <div class="col-5 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;">Weight.</div>
            </div>

            <div class="col-30 " style="">
                <input type="number" class="form-control left" style="width:80%;font-size:12px" autocomplete="off" id="i_New_Weight" asp-for="_ViewceMastSubMakerRequest.smWeight">
            </div>
            <div class="col-5 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;">Qty.</div>
            </div>
            <div class="col-30 " style="">
                <input type="number" class="form-control left" style="width:60%;font-size:12px" autocomplete="off" id="i_New_Qty" asp-for="_ViewceMastSubMakerRequest.smQty">
            </div>
            <div class="col-5 " style="">

            </div>
        </div>
    </div>
    <div class="col-5 " style="">
    </div>
</div>

@*Attach file*@
<div class="row center">
    <div class="col-5 " style="">

    </div>
    <div class="col-90 " style="border:1.5px solid gray;padding:10px">
        <div class="row center">
            <div class="col-20 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;text-decoration: underline;font-size:13px">Attach file</div>
            </div>
            <div class="col-80 " style="">
            </div>
        </div>
        <div class="row center">
            <div class="col-80 " style="">
                <input name="files" type="file" id="files" multiple="" class="button btnGray " style="@(Model._ViewceMastSubMakerRequest.smStep == 7 ? "pointer-events: none;width:300px;margin-right:10px; " : "width:300px;margin-right:10px;")" >
                <button type="button" class="button notification" style="width:auto; height:28px;background-color:#7286D3" data-bs-dismiss="modal" id="btnfile">
                    <img src="~/images/open-folder.png" style="width:25px;height:25px;margin-left:0px;text-align:left">
                    @*<span class="badge">2</span>*@
                    เปิดไฟล์แนบ @Model._listAttachment.Count() ไฟล์
                    @if (@Model._listAttachment.Count() > 0)
                    {
                        <span class="badge">@Model._listAttachment.Count()</span>
                    }
                    @*<span class="badge">0</span>*@
                </button>
            </div>
            <div class="col-20 " style="">
            </div>
        </div>
    </div>
    <div class="col-5 " style="">

    </div>
</div>

@*summary*@
<div class="row center" style="@(Model._ViewceMastSubMakerRequest.smStep == 7 ? "pointer-events: none; " : "")">
    <div class="col-5 " style="">

    </div>
    <div class="col-90 " style="border:1.5px solid gray;padding:10px">
        <div class="row center">
            <div class="col-5 " style="">
                <div class="grid-item fw-800 center" style="text-align:left;text-decoration: underline;font-size:13px">Summary</div>
            </div>
            <div class="col-90 " style="">
            </div>
            <div class="col-5 " style="">

            </div>
        </div>
        <div class="row center" style="">
            <div class="col-5 " style="margin-bottom:0px">
            </div>
            <div class="col-90" style=" display: flex;align-items: center;">
                <table class="summarys">
                    <tr>
                        <th>DETAIL</th>
                        <th width="12%"></th>
                        <th style="text-align:center">UNIT</th>
                    </tr>
                    <tr>
                        <td style="text-align:left">TOTAL PROCESS WT.</td>
                        <td style="text-align:right">
                            <input type="number" class="form-control " style="width:100%;font-size:12px;text-align:right" autocomplete="off" id="i_New_TotalProcessWT" asp-for="_ViewceMastSubMakerRequest.smTotalProcessWT" readonly>
                        </td>
                        <td>Hr.</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">TOTAL PROCESS COST.</td>
                        <td style="text-align:right">
                            <input type="number" class="form-control " style="width:100%;font-size:12px;text-align:right" autocomplete="off" id="i_New_ProcessCost" asp-for="_ViewceMastSubMakerRequest.smTotalProcessCost" readonly>
                        </td>
                        <td>KB.</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">ORDER MATL</td>
                        <td style="text-align:right">
                            <input type="number" class="form-control " style="width:100%;font-size:12px;text-align:right;background-color:yellow" autocomplete="off" id="i_New_OrderMatl" asp-for="_ViewceMastSubMakerRequest.smOrderMatl" min="0">
                        </td>
                        <td>KB.</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">TOTAL COST</td>
                        <td style="text-align:right">
                            <input type="number" class="form-control " style="width:100%;font-size:12px;text-align:right" autocomplete="off" id="i_New_TotalCost" asp-for="_ViewceMastSubMakerRequest.smTotalCost" readonly>
                        </td>
                        <td>KB.</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">ROUND UP T.PRO COST.</td>
                        <td style="text-align:right">
                            <input type="number" class="form-control " style="width:100%;font-size:12px;text-align:right" autocomplete="off" id="i_New_RoundUp" asp-for="_ViewceMastSubMakerRequest.smRoundUp" readonly>
                        </td>
                        <td>KB.</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">TOTAL PRO COST.</th>
                        <th style="text-align:right">
                            <input type="number" class="form-control " style="width:100%;font-size:12px;text-align:right" autocomplete="off" id="i_New_TotalProCost" asp-for="_ViewceMastSubMakerRequest.smTotalProCost" readonly>
                        </th>
                        <th style="text-align:center">KB.</th>
                    </tr>

                </table>
            </div>

            <div class="col-5 " style="">
            </div>
        </div>

    </div>
    <div class="col-5 " style="">

    </div>
</div>

<script>
    document.getElementById("i_New_OrderMatl").addEventListener("change", FuntionTotalProCost);
    function FuntionTotalProCost() {
        let TotalProcessWT = document.getElementById("i_New_TotalProcessWT") ? parseFloat(document.getElementById("i_New_TotalProcessWT").value) || 0 : 0;//N15

        let ProcessCost = document.getElementById("i_New_ProcessCost") ? parseFloat(document.getElementById("i_New_ProcessCost").value) || 0 : 0; //16
        let New_OrderMatl = document.getElementById("i_New_OrderMatl") ? parseFloat(document.getElementById("i_New_OrderMatl").value) || 0 : 0;//17
        let TotalCost = document.getElementById("i_New_TotalCost") ? parseFloat(document.getElementById("i_New_TotalCost").value) || 0 : 0;//18
        let New_RoundUp = document.getElementById("i_New_RoundUp") ? parseFloat(document.getElementById("i_New_RoundUp").value) || 0 : 0;//19

        let i_New_TotalCost = parseFloat(ProcessCost + New_OrderMatl).toFixed(2);
        let i_New_RoundUp = parseFloat(TotalCost).toFixed(2);
        let i_New_TotalProCost = parseFloat(TotalProcessWT + ProcessCost + New_OrderMatl + TotalCost + New_RoundUp).toFixed(2);
   

        $("#i_New_TotalCost").val(i_New_TotalCost); // Set ค่า Sum Total
        $("#i_New_RoundUp").val(i_New_RoundUp); // Set ค่า Sum Total
        $("#i_New_TotalProCost").val(i_New_TotalProCost);  // Set ค่า Sum Total

    }

    FuntionTotalProCost();

</script>